<div
  class="rounded-2xl transition-all"
  [ngClass]="[
    full ? 'w-full' : '',

    padding === 'sm' ? 'p-2' : '',
    padding === 'md' ? 'p-4' : '',
    padding === 'lg' ? 'p-6' : '',

    variant === 'default' ? 'bg-white dark:bg-surface-dark shadow-soft' : '',

    variant === 'soft' ? 'bg-surface-light dark:bg-surface-dark/50' : '',

    variant === 'outlined' ? 'border border-gray-200 dark:border-gray-700' : '',

    variant === 'glow' ? 'bg-brand-500 text-white shadow-glow' : '',
  ]"
>
  <ng-content></ng-content>
</div>
