<ion-button
  [disabled]="disabled"
  [class.w-full]="full"
  [ngClass]="[
    'rounded-xl font-medium transition-all',

    size === 'sm' ? 'text-sm px-3 py-1' : '',
    size === 'md' ? 'text-base px-4 py-2' : '',
    size === 'lg' ? 'text-lg px-6 py-3' : '',

    variant === 'primary' ? 'bg-brand-500 text-white shadow-soft' : '',
    variant === 'secondary' ? 'bg-brand-100 text-brand-700' : '',
    variant === 'ghost' ? 'bg-transparent text-brand-500' : '',
    variant === 'danger' ? 'bg-red-500 text-white' : '',
    variant === 'success' ? 'bg-green-500 text-white' : '',
  ]"
>
  <ion-icon *ngIf="icon" [name]="icon"></ion-icon>
  <ng-content />
</ion-button>
